body{
    background-color: rgb(91, 143, 255);
    font: normal 15pt Arial;
    color: #fff;
    
}
h1{
    text-align: center;
    color: black;
}

header{

}

section{
    color: black;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493) ;
}

footer{
    padding: 10px;
    color: #000000;
    text-align: center;
    font-style: italic;
    
}
div{
    text-align: center;
    padding: 8px;
}