body{
    background-color: rgb(91, 143, 255);
    font: normal 15pt Arial;
    color: #fff;
    
}
h1{
    text-align: center;
}

#ver{ cursor: pointer;
      background-color: lightblue;
      color: black;
}

section{
    color: black;
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493) ;
}

footer{
    padding: 13px;
    color: #fff;
    text-align: center;
    font-style: italic;
    
}